header{
    
    background-image: url('https://cdn.britannica.com/48/182648-050-6C20C6AB/LEGO-bricks.jpg');
    /* display:block; */
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;

    

    
    
}

#d1{
   border: solid;

}
/* #d1 h3{
    
    position: absolute;
    top: 0;
    right: 0;
} */