header{
    display: inline-block;
    width: 100%;
    height: 150px;
    background-image: url('https://i.redd.it/02w9yq32gk1a1.png');
    
}
div{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

h3{
    position: relative;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    transform: scale(2,0.5);
    
}
